<p>
  currencies works!
</p>

<h2>Generate</h2>
  {{currencies2.timestamp}}
  {{currencies2 .quotes}}


  <!-- <div *ngFor="let value of currencies2.quotes | values">
    {{value}} - {{value[key]}}
  </div> -->

  <div *ngFor="let entry of currencies2.quotes | values">
    Key: {{entry.key}}, value: {{entry.value}}
  </div>

  <!--
  <ul>
  <div *ngFor="let currency of hack(currencies2.quotes)" >
    <li>
       <a routerLink="#">eee
          <span>{{currency}}</span>
       </a>
    </li>
  </div>
  </ul>
  -->
